<!DOCTYPE html>
<!--  -->
<html ng-app="goalsApp">
<!--  -->
  <head>
    <meta charset="utf-8">
    <title>Goal Setting and Monitoring App</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>

    <!--  -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!--  -->
  </head>
  <body>

  </body>
</html>
