#goal-header{
  text-align: center;
}

#input-bar-half{
  width: 50%;
}

#completed-placement{
  margin: 2px 18px 10px;
}

#checkbox-border{
  border: 0px;
}

#add-a-goal-header{
  text-align: center;
}
