<div class="row col-md-6 col-md-offset-3">

	<div class="jumbotron">
		<h1 id="add-a-goal-header">Add / Update A Goal</h1>

		<form id="new-goal-form" ng-submit="carsCtrl.addCar()">

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Goal:" ng-model="goalsCtrl.goal_or_task">
			</div>
      parent_categories_heirachy: parent_categories_heirachy, 
        goal_or_task:               goal_or_task, 
        date_created:               date_created,
        zen_level:                  zen_level,
        reminder:                   reminder,
        optional_due_date:          optional_due_date,
        completed:                  completed,
        priority:                   priority

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Zen Level:">
			</div>

			<div id="input-bar-half" class="form-group pull-left">
				<input type="text" class="form-control" placeholder="Due Date:">
			</div>

			<div  id="input-bar-half" class="form-group pull-right">
				<input type="text" class="form-control" placeholder="Priority:">
			</div>

      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span id="checkbox-border" class="input-group-addon">
              <input type="checkbox" aria-label="...">
            </span>
            <p id="completed-placement">Completed</p>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
      <br>

      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span id="checkbox-border" class="input-group-addon">
              <input type="checkbox" aria-label="...">
            </span>
            <p id="completed-placement">Daily Reminder?</p>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
      <br>

			<button type="submit" class="btn btn-block btn-primary">
				<span>Submit</span>
				<span class="spinner"></span>
			</button>


		</form>
	</div>

</div>
