<div class="container" ng-if="mainController.isLoggedIn">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="my-goals-header">Goal Monitor</h1>
    </div>
  </div>
</div>

<div class="container-fluid no-side-pad">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="side-bar">
        <div class="side-bar-content hidden-xs content-links">
          <h3>Goal News</h3>
          <h3>My Goals</h3>
          <h3>Add Goal</h3>
          <h3>Settings</h3>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-6">
      <div class="jumbotron user-profile">
        <h2>Jake Shield</h2>
        <p>Goals: Practice Angular!</p>
        <p>Zen Level: 1</p>
        <p>Due Date: N/A</p>
        <p>Completed: N/A</p>
        <p>Priority: 1</p>
        <div class="jumbotron user-monitor-input">
          <p><b>Date: 12/15/15<b></p>
          <p>Hours devoted since last monitoring: 6</p>
          <p>Quality of activity rating: 3</p>
          <p>Perceived result: 9</p>
          <p>Comment: This week was great!</p>
        </div>

        <button type="submit" class="btn-monitor btn-block btn-primary"> Monitor</button>
      </div>
    </div>

    <div class="col-md-2 col-sm-3">
      <div class="side-bar">
        <div class="side-bar-content visible-xs content-links">
          <h3>Goal News</h3>
          <h3>My Goals</h3>
          <h3>Add Goal</h3>
          <h3>Settings</h3>
        </div>
      </div>
    </div>
  </div>
</div>
