

<div class="container" ng-if="main.loggedIn">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="add-a-goal-header">Update Goal</h1>
    </div>
  </div>

  <h2>{{main.user.name}}</h2>
	<div class="jumbotron">
	  <form id="new-goal-form" ng-submit="goalDetailCtrl.updateGoal()">

	  	  <p class="list-group-item-text">Goal Category: {{ goal.parent_categories_heirachy }}</p>
          <h4 class="list-group-item-text">Goal: {{ goal.goal_or_task }}</h4>
          <p class="list-group-item-text">Priority: {{ goal.priority }}</p>
          <p class="list-group-item-text">Zen Level: {{ goal.zen_level }} 
          <small >(1: repeat indefinite times / maintenance activity (do a few hours per week), 2: repeat a few times only, then finished, 3: do only once)</small></p>
          <p class="list-group-item-text">Due Date: {{ goal.optional_due_date }}</p>
          <p class="list-group-item-text">Completed: {{ goal.completed }}</p>

        <goal-form>Update Goal</goal-form>

	</form>
	</div>
</div>