<div class="container" ng-if="main.loggedIn">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="my-goals-header">Goal Monitor</h1>
    </div>
  </div>


  <div class="container-fluid no-side-pad">
    <div class="row">
    
      <div class="col-md-7 col-sm-6">
        <h2>{{main.user.name}}</h2>
        <div ng-repeat="goal in main.user.goals | reverse" class="jumbotron user-monitor">
          <p class="list-group-item-text">Goal Category: {{ goal.parent_categories_heirachy }}</p>
          <h4 class="list-group-item-text">Goal: {{ goal.goal_or_task }}</h4>
          <p class="list-group-item-text">Priority: {{ goal.priority }}</p>
          <p class="list-group-item-text">Zen Level: {{ goal.zen_level }} 
          <small >(1: repeat indefinite times / maintenance activity (do a few hours per week), 2: repeat a few times only, then finished, 3: do only once)</small></p>
          <p class="list-group-item-text">Due Date: {{ goal.optional_due_date }}</p>
          <p class="list-group-item-text">Completed: {{ goal.completed }}</p>
      
          <form ng-submit="goalsCtrl.updateStatus(goal)">
            <div class="form-group">
              <label>Hours devoted since last monitoring</label>
              <input type="number" class="form-control input-width" placeholder="Hours:" ng-model="goalsCtrl.newMon.hours_devoted">
            </div>
            <div class="form-group">
              <label>Quality of activity rating</label>
              <input type="number" class="form-control input-width" placeholder="1 - 10:" ng-model="goalsCtrl.newMon.quality">
            </div>
            <div class="form-group">
              <label>Perceived Result</label>
              <input type="number" class="form-control input-width" placeholder="1 - 10:" ng-model="goalsCtrl.newMon.percieved_result">
            </div>
            <div class="form-group">
              <label>Comment</label>
              <input type="text" class="form-control" placeholder="Comment:" ng-model="goalsCtrl.newMon.comment">
            </div>
          <button type="submit" class="btn-monitor btn-block btn-primary">Submit</button>
          </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-3">
      <div class="side-bar">
        <div class="side-bar-content visible-xs content-links">
          <h3>Goal News</h3>
          <h3>My Goals</h3>
          <h3>Add Goal</h3>
          <h3>Settings</h3>
        </div>
      </div>
    </div>
  </div>
</div>
