<!-- first column -->
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-8">
            <h1 id="goal-header">Goals</h1>
          <div ng-repeat="user in userCtrl.users | reverse" class="jumbotron">
         <!--   <div class="jumbotron">
              <h2>Jake Shield</h2>
              <p>Goals: Practice Angular!</p>
              <p>Zen Level: 1</p>
              <p>Due Date: N/A</p>
              <p>Completed: N/A</p>
              <p>Priority: 1</p>
            </div> -->

              <h3 class="list-group-item-heading">{{ user.name }}</h3>
              <div ng-repeat="goal in user.goals| reverse" class="list-group-item">
                <p class="list-group-item-text">Goal Category: {{ goal.parent_categories_heirachy }}</p>
                <h4 class="list-group-item-text">Goal: {{ goal.goal_or_task }}</h4>
                <p class="list-group-item-text">Priority: {{ goal.priority }}</p>
                <p class="list-group-item-text">Zen Level: {{ goal.zen_level }} 
                <small >(1: repeat indefinite times / maintenance activity (do a few hours per week), 2: repeat a few times only, then finished, 3: do only once)</small></p>
                <p class="list-group-item-text">Due Date: {{ goal.optional_due_date }}</p>
                <p class="list-group-item-text">Completed: {{ goal.completed }}</p>
              </div>
            
        <!--    <div class="jumbotron">
              <h2>Geoffrey Lannister</h2>
              <p>Goals: Run the LA Marathon!</p>
              <p>Zen Level: 3</p>
              <p>Due Date: 3/12/16</p>
              <p>Completed: N/A</p>
              <p>Priority: 3</p>  -->
            </div>
          </div>
        </div>

        <!-- second column -->
        <div class="col-sm-4">
            <h1>Sign Up!</h1>
            <a type="button" class="btn btn-block btn-primary" href="/#/signup">
              <span>Sign Up!</span>
              <span class="spinner"></span>
            </a>
            <!-- <div class="row col-md-6 col-md-offset-3">
            	<div class="jumbotron">
            		<form>
            			<div class="form-group">
            				<label>Name</label>
            				<input type="text" class="form-control" ng-model="user.newUser.name">
            			</div>
            			<div class="form-group">
            				<label>User Name</label>
            				<input type="text" class="form-control" ng-model="user.newUser.username">
            			</div>
            			<div class="form-group">
            				<label>Password</label>
            				<input type="password" class="form-control" ng-model="user.newUser.password" >
            			</div>

            		</form>
            	</div>
            </div> -->
        </div>
    </div>
</div>
