<!-- first column -->
<section class="homePage">
  <div class="navPad"></div>
  <div class="container-fluid no-side-pad">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="side-bar">
          <div ng-if="main.loggedIn">
            <div class="side-bar-content hidden-xs content-links">
              <h3><a href="/#/profile">Profile</a></h3>
              <h3><a href="/#/monitor">Monitor Goals</a></h3>
              <h3><a href="/#/addgoal">Add Goal</a></h3>
              <!-- <h3><a href="/#/d3_monitor">d3</a></h3> -->
              <p class="welcome-backdrop">Welcome to Goals App! This is where you can create and monitor your goals (for excercise, study or whatever). This is supposed to help you focus more on higher yield activities. For exercising the mind and body it's good to vary activity, get enough rest and water... Also for learning, a moderate amount of physical exercise goes along great. Also it's good have a healthy balanced life where one thing doesn’t dominate, the goals don't conflict with each other and instead they compliment each other.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-5">
        <div class="goalContent" ng-repeat="user in userCtrl.users | reverse">
          <h3 class="list-group-item-heading">Goals for {{ user.name }}:</h3>
          <div ng-repeat="goal in user.goals| reverse" class="list-group-item goal-content-border-home">
            <p class="list-group-item-text">Goal Category: {{ goal.parent_categories_heirachy }}</p>
            <p class="list-group-item-text">Goal: {{ goal.goal_or_task }}</p>
            <p class="list-group-item-text">Date Created: {{ goal.date_created }}</p>
            <p ng-if="goal.priority" class="list-group-item-text">Priority: {{ goal.priority }}</p>
            <p ng-if="goal.zen_level" class="list-group-item-text">Zen Level: {{ goal.zen_level }}
            <small ng-if="goal.zen_level==1">(maintenance activity, do periodically indefinitly)</small>
            <small ng-if="goal.zen_level==2">(repeat a few times only, then finished)</small>
            <small ng-if="goal.zen_level==3">(achieve only one time for now)</small></p>
            <p ng-if="goal.optional_due_date" class="list-group-item-text">Due Date: {{ goal.optional_due_date }}</p>
            <p ng-if="goal.completed" class="list-group-item-text">Completed: {{ goal.completed }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- <a type="button" class="btn btn-block btn-primary" href="/#/signup">
  <span>Sign Up!</span>
  <span class="spinner"></span>
</a> -->
