<!-- first column -->
<section class="homePage">
  <div class="navPad"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="goalContent" ng-repeat="user in userCtrl.users | reverse">
          <h4>Goals of user</h4>
          <h3 class="list-group-item-heading">{{ user.name }}:</h3>
          <div ng-repeat="goal in user.goals| reverse" class="list-group-item">
            <p class="list-group-item-text">Goal Category: {{ goal.parent_categories_heirachy }}</p>
            <p class="list-group-item-text">Goal: {{ goal.goal_or_task }}</p>
            <p ng-if="goal.priority" class="list-group-item-text">Priority: {{ goal.priority }}</p>
            <p ng-if="goal.zen_level" class="list-group-item-text">Zen Level: {{ goal.zen_level }}
            <small ng-if="goal.zen_level==1">(maintenance activity, do periodically indefinitly)</small>
            <small ng-if="goal.zen_level==2">(repeat a few times only, then finished)</small>
            <small ng-if="goal.zen_level==3">(achieve only one time for now)</small></p>
            <p ng-if="goal.optional_due_date" class="list-group-item-text">Due Date: {{ goal.optional_due_date }}</p>
            <p ng-if="goal.completed" class="list-group-item-text">Completed: {{ goal.completed }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <a type="button" class="btn btn-block btn-primary" href="/#/signup">
  <span>Sign Up!</span>
  <span class="spinner"></span>
</a> -->
