<div ng-if="main.loggedIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="my-goals-header">My Goals</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid no-side-pad">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="side-bar">
          <div class="side-bar-content hidden-xs content-links">
            <h3><a href="/#/home">All Users' Goals</a></h3>
            <h3><a href="/#/monitor">Monitor Goals</a></h3>
            <h3><a href="/#/addgoal">Add Goal</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-7">
        <div class="jumbotron user-profile">
          <div class="list-inline">
          <h2 class="profile-user-name">{{main.user.name}}'s goal profile:</h2>
          </div>
          <div ng-repeat="goal in main.user.goals | orderBy: 'priority'" class="goal-content-border">
            <p class="list-group-item-text">Goal Category: {{ goal.parent_categories_heirachy }}</p>
            <p class="list-group-item-text">Goal: {{ goal.goal_or_task }}</p>
            <p class="list-group-item-text">Date Created: {{ goal.date_created }}</p>
            <p ng-if="goal.priority" class="list-group-item-text">Priority: {{ goal.priority }}</p>
            <p ng-if="goal.zen_level" class="list-group-item-text">Zen Level: {{ goal.zen_level }}
            <small ng-if="goal.zen_level==1">(maintenance activity, do periodically indefinitly)</small>
            <small ng-if="goal.zen_level==2">(repeat a few times only, then finished)</small>
            <small ng-if="goal.zen_level==3">(achieve only one time for now)</small></p>
            <p ng-if="goal.optional_due_date" class="list-group-item-text">Due Date: {{ goal.optional_due_date }}</p>
            <p ng-if="goal.completed" class="list-group-item-text">Completed: {{ goal.completed }}</p>

            <div ng-controller="goalsController as goalsCtrl">
              <button type="button" class="btn-monitor btn-block btn-primary" ng-click="goalsCtrl.editGoal(goal._id)">Edit Goal</button>
              <button class="btn-monitor btn-block btn-primary" ng-click="goalsCtrl.removeGoal(goal._id, main.user)">Delete Goal</button>
            </div>
            <div>
              <p class="list-group-item-text" ng-repeat="monitor in goal.monitoring">Dates Monitored:
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDiv" ng-click="goalsCtrl.selectMonitor(monitor)">{{monitor.m_date}}</button>

                <!-- Modal -->
                  <div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h3 class="modal-title" id="myModalLabel">Your Selected Monitor for {{goal.parent_categories_heirachy}}</h3>
                        </div>
                        <div class="modal-body">
                          <h4>Monitor Date: {{ goalsCtrl.selectedMonitor.m_date }}</h4>
                          <h4>Hours Devoted: {{ goalsCtrl.selectedMonitor.hours_devoted }}</h4>
                          <h4>Quality: {{ goalsCtrl.selectedMonitor.quality }}</h4>
                          <h4>Perceived Result: {{ goalsCtrl.selectedMonitor.percieved_result }}</h4>
                          <h4>Comment: {{ goalsCtrl.selectedMonitor.comment }}</h4>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Modal end -->

              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-2 col-sm-3">
        <div class="side-bar">
          <div class="side-bar-content">
            <ul class="lineItUp">
              <li><img height="40" src="http://sherrod.etsu.edu/sites/default/files/images/Female_User_Icon_clip_art_hight.png"/></li>
              <li>Linda</li>
            </ul>
            <ul class="lineItUp">
              <li><img height="40" src="https://linuxreference.files.wordpress.com/2010/11/linux_icon.gif"/></li>
              <li>James</li>
            </ul>
          </div>
          <button ng-click="goalsCtrl.click(main.user)">Stuff</button>
          <div class="side-bar-content visible-xs content-links">
            <h3>Goal News</h3>
            <h3>My Goals</h3>
            <h3>Add Goal</h3>
            <h3>Settings</h3>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
