<div class="col-md-12">
    <div class="row">
        <div class="col-sm-3">
          <h2>Goal sidebar</h2>
          <div id="side-bar" class="row col-md-6 col-md-offset-3">
            <div id="side-bar-content">
              <h3>Goal News</h3>
              <h3>My Goals</h3>
              <h3>Add Goal</h3>
              <h3>Settings</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h1 id="my-goals-header">My Goals</h1>
          <div class="">
            <div class="jumbotron">
              <h2>Jake Shield</h2>
              <p>Goals: Practice Angular!</p>
              <p>Zen Level: 3</p>
              <p>Due Date: N/A</p>
              <p>Completed: N/A</p>
              <p>Priority: 1</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h2>Other users</h2>
        </div>
    </div>
</div>
